# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow


| Data Science Tools |
|--------------|
| Jupyter      |
| RStudio      |
| Apache Spark |
| TensorFlow   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

Objectives:
    -List popular languages for Data Science
    -Familiarize with common data science tools
    -Learn basic arithmetic operations in Python

## Author
Patricio Castro